<!DOCTYPE html>
<html>
   <head>
      <style>
         * {
            font-family:'Sans Serif';
         }
         a {
            color: #042F83;
         }
         h1, h2 {
            color: #042F83
         }
         .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
         }
         .edge {
            flex-grow: 5;
         }
         .content {
            flex-grow: 10;
         }
         .text-center {
            text-align: center;
         }
         .tiles {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
         }
         .tile {
            flex-grow: 1;
            margin: 15px;
         }
         .border {
            border-radius: 25px;
            border: 1px solid #c8c8c8;
            padding: 10px;
         }
      </style>
      <title>Archive</title>
   </head>
   <body>
      <div class="text-center">
         <h1>Welcome to solution architecture documentation Archive</h1>
      </div>
      <div class="container">
         <div class="edge"></div>
         <div class="content">
            <div class="tiles">
               {% for ns, docs in namespaces.items() %}
                  <div class="tile border">
                     <h2>{{ns}}</h2>
                     <ul>
                        {% for doc in docs %}
                        <li><a href="{{ns}}/{{doc}}/">{{doc}}</a></li>
                        {% endfor -%}
                     </ul>
                  </div>
               {% endfor -%}
               </ul>
            </div>
         </div>
         <div class="edge"></div>
      </div>
   </body>
</html>